<div class="flex min-h-full bg-gray-900">
  <div class="absolute ml-10 mt-6">
    <a href="/" class="text-sm/6 font-semibold text-white hover:text-indigo-400"><span class="pr-2" aria-hidden="true">&larr;</span> Retour à l'accueil</a>
  </div>
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <a href="/">
            <img class="h-10 w-auto" src="/assets/images/logo_disastream.png" alt="Disastream">
          </a>
          <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-white">Inscrivez-vous</h2>
          <p class="mt-2 text-sm/6 text-gray-500">
            Déjà inscrit ?
            <a href="/login" class="font-semibold text-indigo-400 hover:text-indigo-300">Connexion</a>
          </p>
        </div>
  
        <div class="mt-10">
          <div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">

              <div class="text-red-400 text-sm" *ngIf="errorMessage">{{ errorMessage }}</div>

                <div class="mt-2">
                    <input placeholder="Pseudo" formControlName="username" required  class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6">
                </div>

                <div class="mt-2">
                  <input placeholder="Email" formControlName="mail" type="email" required  class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6">
                </div>

                <div class="text-red-400 text-sm" *ngIf="passwordFormField?.dirty">
                  <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('^(?=.*[A-Z])')}">Au moins une majuscule.</span>
                  <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('(?=.*[a-z])')}">Au moins une minuscule.</span>
                  <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('(.*[0-9].*)')}">Au moins un chiffre.</span>
                  <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">Au moins un caractère spécial.</span>
                  <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('.{8,}')}">Au moins 8 caractères.</span>
                </div>

                <div class="mt-2">
                  <input placeholder="Mot de passe" formControlName="password" type="password" autocomplete="current-password" required  class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6">
                </div>

                <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input formControlName="rgpdConsent" name="rgpdConsent" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    </div>
                    <div class="ml-3 text-sm/6">
                      <label for="rgpdConsent" class="font-medium text-gray-400">J'accepte les <a class="text-indigo-400" href="#">conditions générales d'utilisation</a> ainsi que la <a class="text-indigo-400" href="#">politique de protection des données</a></label>
                    </div>
                </div>
                <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input formControlName="allowMarketing" name="allowMarketing" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    </div>
                    <div class="ml-3 text-sm/6">
                      <label for="allowMarketing" class="font-medium text-gray-400">J'accepte de recevoir la newsletter de {{appName}} pour rester informé des dernières mises à jour</label>
                    </div>
                </div>
  
              <div>
                <button type="submit" [disabled]="registerForm.invalid" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-400 disabled:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Inscription</button>
              </div>
            </form>
          </div>
  
          <div class="mt-10">
            <div class="relative">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-200"></div>
              </div>
              <div class="relative flex justify-center text-sm/6 font-medium">
                <span class="bg-white px-6 text-gray-900">Ou continuer avec</span>
              </div>
            </div>
  
            <div class="mt-6 items-center">
              <button (click)="authenticate()" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                <svg class="h-5 w-5" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M12.0003 4.75C13.7703 4.75 15.3553 5.36002 16.6053 6.54998L20.0303 3.125C17.9502 1.19 15.2353 0 12.0003 0C7.31028 0 3.25527 2.69 1.28027 6.60998L5.27028 9.70498C6.21525 6.86002 8.87028 4.75 12.0003 4.75Z" fill="#EA4335" />
                  <path d="M23.49 12.275C23.49 11.49 23.415 10.73 23.3 10H12V14.51H18.47C18.18 15.99 17.34 17.25 16.08 18.1L19.945 21.1C22.2 19.01 23.49 15.92 23.49 12.275Z" fill="#4285F4" />
                  <path d="M5.26498 14.2949C5.02498 13.5699 4.88501 12.7999 4.88501 11.9999C4.88501 11.1999 5.01998 10.4299 5.26498 9.7049L1.275 6.60986C0.46 8.22986 0 10.0599 0 11.9999C0 13.9399 0.46 15.7699 1.28 17.3899L5.26498 14.2949Z" fill="#FBBC05" />
                  <path d="M12.0004 24.0001C15.2404 24.0001 17.9654 22.935 19.9454 21.095L16.0804 18.095C15.0054 18.82 13.6204 19.245 12.0004 19.245C8.8704 19.245 6.21537 17.135 5.2654 14.29L1.27539 17.385C3.25539 21.31 7.3104 24.0001 12.0004 24.0001Z" fill="#34A853" />
                </svg>
                <span class="text-sm/6 font-semibold">Google</span>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 size-full object-cover"  src="{{picture.path}}" alt="{{picture.alt}}">
      <a href="{{picture.authorLink}}" class="text-sm/7 text-gray-400 absolute bottom-0 right-2 hover:text-indigo-400">
        © {{picture.author}}
        <span class="sr-only">Crédit photo : {{picture.author}}</span>
      </a>
    </div>
</div>