<div class="py-6 px-6">
    <div class="md:flex md:items-center md:justify-between mb-3 p">
        <div class="min-w-0 flex-1">
            <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Mon dashboard</h2>
        </div>
    </div>
    <div class="flex lg:py-6 lg:px-6 lg:col-span-4">
        <div class="overflow-hidden rounded-lg bg-gray-800 ring-1 ring-white/15 w-full max-w-[1000px]">
            <div class="px-10 pt-6">
                <!-- <h3 class="text-sm/4 font-semibold text-gray-400">Statistiques de la semaine</h3> -->
                <p class="mt-2 text-lg font-medium tracking-tight text-white">Statistiques de la semaine</p>
                <!-- <p class="mt-2 max-w-lg text-sm/6 text-gray-400"></p> -->
            </div>
            <div class="graph px-6 py-6 d-flex flex-column align-items-center">
                <canvas *ngIf="!loading" id="myGraph" class="margin-t40" baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'" [legend]="false"> </canvas>
                <div *ngIf="loading" class="text-center">
                    <app-spinner [width]="'w-24'"></app-spinner>
                </div>
            </div>

        </div>
    </div>
</div>