<div class="align-center">
    <img class="margin-b20 text-center" style="width:150px;height:150px;" src="/assets/images/svg/alerte.svg">
    <h2>Félicitations, votre nouvelle alerte <span class="w-1000 primary-color">{{alertName}}</span> a bien été créée !</h2>
    <button class="md-btn btn-primary margin-t20 btn-icon" (click)="goToAlerts()">
        <span class="margin-r10">Liste des alertes</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-right"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M8 12h8"/><path d="m12 16 4-4-4-4"/></svg>
    </button>
</div>