<div class="flex min-h-full bg-gray-900">
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">

        @if(message === ''){
          <div>
            <img class="h-10 w-auto" src="/assets/images/logo_disastream.png" alt="Disastream">
            <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-white">Réinitialiser votre mot de passe</h2>
            <p class="mt-2 text-sm/6 text-gray-500">
              Saisissez-ici votre nouveau mot de passe
            </p>
          </div>
          <div class="mt-10">
            <div>
              <form [formGroup]="passwordForm" class="space-y-6">
                  <div class="text-red-400 text-sm" *ngIf="passwordFormField?.dirty">
                    <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('^(?=.*[A-Z])')}">Au moins une majuscule.</span>
                    <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('(?=.*[a-z])')}">Au moins une minuscule.</span>
                    <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('(.*[0-9].*)')}">Au moins un chiffre.</span>
                    <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">Au moins un caractère spécial.</span>
                    <span class="block" [ngClass]="{'text-cyan-500': passwordFormField?.value?.match('.{8,}')}">Au moins 8 caractères.</span>
                  </div>
                  <div class="mt-2">
                    <input placeholder="Mot de passe" formControlName="password" type="password" required  class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6">
                  </div>
                  <div *ngIf="errors !== ''" class="mt-2">
                    <p class="text-red-400 text-sm">{{errors}}</p>
                  </div>
                  <div class="mt-2">
                      <input placeholder="Confirmation mot de passe" formControlName="confirm_password" type="password" required  class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6">
                  </div>
    
                <div>
                  <button (click)="onSubmit()" type="submit" [disabled]="passwordForm.invalid"  class="flex w-full justify-center rounded-md bg-indigo-400 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Changer mon mot de passe</button>
                </div>
              </form>
            </div>
    
          </div>
        }
        @else{
          <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto flex size-12 items-center justify-center rounded-full bg-green-100">
              <svg class="size-6" height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg" id="fi_7778643"><g id="Layer_40" data-name="Layer 40"><circle cx="16" cy="16" fill="#63ba6b" r="13"></circle><path d="m25.1924 6.8076a13 13 0 0 1 -18.3848 18.3848z" fill="#4aae50"></path><path d="m14 21h-.0264a1.0041 1.0041 0 0 1 -.7548-.375l-4-5a1 1 0 0 1 1.5625-1.25l3.2587 4.0742 7.2129-8.1133a1 1 0 1 1 1.4942 1.3282l-8 9a.9988.9988 0 0 1 -.7471.3359z" fill="#f2f2f2"></path></g></svg>
            </div>
            <p class="mt-6 text-green-500 max-w-96 text-center">{{message}}</p>
            <button (click)="goLogin()" class="mt-6 rounded-md bg-white/10 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-white/20">Je me connecte avec mon nouveau mot de passe</button>
          </div>
        }
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 size-full object-cover" src="{{s3BasePath}}/background/foudre.jpg" alt="">
    </div>
</div>