<div *ngFor="let category of categories; index as i" [class.mt-2]="i > 0">
  <h2 class="text-sm font-medium text-gray-500">{{category.category}}</h2>
  <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6">
    <li (click)="selectAlea(aleaCategory)" *ngFor="let aleaCategory of category?.aleas" class="col-span-1 flex rounded-md shadow-sm">
      <div class="flex w-16 shrink-0 items-center justify-center rounded-l-md bg-pink-600 text-sm font-medium text-white"
      style="background-size: cover; background-image: url('{{s3BasePath}}/background/{{aleaCategory.alea.name}}.jpg');">
      </div>
      <div 
      [class.bg-indigo-500]="aleaCategory.selected"
      [class.bg-white]="!aleaCategory.selected"
      [class.border-gray-500]="aleaCategory.selected"
      class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white hover:bg-gray-300 cursor-pointer">
        <div class="flex-1 truncate px-4 py-2 text-sm">
          <p 
          [class.text-white]="aleaCategory.selected"
          [class.text-gray-500]="!aleaCategory.selected"
          >{{aleaCategory.alea.name}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
  